body {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size:16.0pt;
  }
  h2 {
    font-size:10.0pt;
  }
  h3 {
    margin: 10px;
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
  }
  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;

  }
  .secondary-title {
    position: fixed;
    top: 100px;
    width: 290px;
    right: 10px;
    background-color: black;
    opacity: 70%;
    vertical-align: middle;
    color: white;
    z-index: 99999;
    text-size-adjust: 6;
    font-family: 'Assistant';
    direction: rtl;
  }
  .map-title {
    position: fixed;
    top: 0;
    left: 35%;
    background-color: black;
    opacity: 50%;
    vertical-align: middle;
    color: white;
    z-index: 99999;
    text-size-adjust: 14;
    font-family: 'Assistant';
    direction: rtl;
  }
  .full-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 95%;
    z-index: 99999;
    display: none;
  }
  .button {
    position: absolute;
    top: 50%;
    right: 92%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;

    padding: 8px;
  }
  
  .button__arrow {
    background-color: transparent;

    height: 12px;
    width: 12px;
  }

  .button__arrow--left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(25%) rotate(45deg);
  }
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
  }
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 280px;
    top: 100%;
    margin-left: 20px;
    margin-top: 20px;
    width: 260px;
    position: relative;

  }
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 10px;
  }
  .icon {
    background: url('./checkpoints-15.svg');
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-left: 10px;
  }
  .triangle_icon {
    background: url('./triangle-blue-11.svg');
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-left: 10px;
  }
  .form-popup {
    display: none;
    position: fixed;
    vertical-align: middle;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 999999;
    margin:4px, 4px;
    padding:4px;
    background-color: white;
    width: 560px;
    height: 560px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    font-family: 'Assistant';
  }

  .form-popup button.btn-outline-secondary {
    left: 0;
  }

  .form-popup form {
    direction: rtl;
    text-align: right;
    font-family: 'Assistant';
  }

  .form-container {
    width: 560;
    padding: 10px;
    background-color: white;
  }
  .form-container h3{
    font-family: 'Assistant';
    font-size: 0.8em;
    color: gray;
    opacity: 70%;
  }

  .form-container b{
    color: black;
  }

  .text-container {
    display: none;
    position: fixed;
    vertical-align: middle;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin:4px, 4px;
    padding:4px;
    background-color: rgba(255,255,255, 0.6);
    text-align: right;
    width: 560px;
  }
  #close {

    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background:white;
    border: none;
    width: 25px;
    align-items: center;
  }
  #close:hover {

    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background:#ccc;
    color:#fff;
    width: 25px;
    align-items: center;
  }
  #enlarge {

    position: absolute;
    right: 30px;
    top: 0;
    padding: 8px;
    background:white;
    border: none;
  }
  #enlarge:hover {

    position: absolute;
    right: 30px;
    top: 0;
    padding: 8px;
    background:#ccc;
    color:#fff;
  }
  
  div.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  audio {
    display: none;
    position: fixed;
    vertical-align: middle;
    bottom: 0;
    right: 15px;
    z-index: 9;
  }
  .mapboxgl-popup {
    font-family: 'Assistant';
    text-align: right;
    direction: rtl;
  }
  .mapboxgl-popup-content{
    background-color: black;
    opacity: 70%;
    font-family: 'Assistant';
    text-align: right;
    direction: rtl;
    padding-right: 0px;
  }

  .mapboxgl-popup-content h3.h3_1{
    color: white;
  }

  .mapboxgl-popup-content b{
    color: white;
  }

  .mapboxgl-popup-content h3.h3_2{
    color: gray;
  }

  .mapboxgl-popup-content h2{
    color: gray;
  }

  .mapboxgl-popup-content p{
    color: white;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border: none;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border: none;
  }

  .mapboxgl-popup-close-button {
    color: white;
  }